body {
    background: url("./images/border-png-images-10.png") no-repeat top left fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#uname {
    width: 50%;
    margin-left: 20%;
}
#newMessage {
    width: 70%;
}
#start {
    width: 30%;
}
#send {
    width: 30%;
}
.img-holder {
    background-color: rgba(191, 235, 70, 0.418);
    height: 100%;
    border-radius: 10px;
}
#score {
    
}
img {
    width: 100%;
}
.btn-holder {
    opacity: 0.8;
}
.my-btn {
    border-radius: 15px;
}
.my-icon {
    font-size: 2em;
}
#chat {
    height: 180px;
    width: 100%;
    background-color:  rgba(191, 235, 70, 0.418);
    border-radius: 10px;
    overflow-y: scroll;
}
  ::-webkit-scrollbar {
    width: 10px;
}
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
  ::-webkit-scrollbar-thumb {
    background: rgb(245, 197, 38); 
    border-radius: 10px;
}

.message {
    background-color: rgba(243, 116, 247, 0.493);
    padding: 1% 5%;
    margin: 4px;
    border-radius: 10px;
}